html {
    background-color: rgb(27, 27, 27);
    font-family: Poppins;
    scroll-behavior: smooth;
    caret-color: transparent;
    cursor: default;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Wid: 100vw;
    /* Giá trị mặc định */
    --Hig: 100vh;
    /* Giá trị mặc định */
    --pix: calc(var(--pix) * 1);
}

::selection {
    background: transparent;
    color: inherit;
}

body {
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}

.bar {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(var(--pix) * 80);
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(1.6vw);
    background-blend-mode: overlay;
    overflow: hidden;
    transition: background-color linear 0.5s, height linear 0.5s;
}

.navbar {
    margin: 0px;
    position: fixed;
    width: 98vw;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    height: calc(var(--pix) * 80);
    padding: 0px;
    list-style-type: none;
}

.nav-left,
.nav-right {
    padding: 0px 0px 0px calc(var(--pix) * 5);
    height: calc(var(--pix) * 60);
    list-style-type: none;
    position: fixed;
    display: flex;
    margin: calc(var(--pix) * 10) calc(var(--pix) * 15) 0px calc(var(--pix) * 10);
    align-items: center;
    transition: 0.3s ease;
}

.nav-right {
    right: calc(var(--pix) * 10);
}

.nav-item {
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.nav-item a {
    font-size: calc(var(--pix) * 20);
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: calc(var(--pix) * 8) calc(var(--pix) * 14);
    transition: background-color linear 0.3s;
    border-radius: calc(var(--pix) * 15);
    transition: all linear 0.5s;
    align-items: center;
}

.nav-item a:hover {
    text-shadow: 0 0 calc(var(--pix) * 3) #ae00ff, 0 0 calc(var(--pix) * 3) #00c3ff, 0 0 calc(var(--pix) * 3) #fad7ff;
    background-color: #00000027;
    color: rgb(204, 164, 255);
}

.nav-item a:active {
    background-color: #0000002f;
}

.nav-small {
    width: calc(var(--pix) * 30);
    height: calc(var(--pix) * 30);
    padding-left: 0px;
    right: calc(var(--pix) * 20);
    top: calc(var(--pix) * -30);
    transition: 0.5s;
    z-index: 103;
    font-size: calc(var(--pix) * 25);
    opacity: 0;
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: calc(var(--pix) * 20);
    position: fixed;
    background-blend-mode: overlay;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.nav-small i {
    margin-bottom: calc(var(--pix) * 20);
}

#nav-icon-1 {
    z-index: 104;
    right: calc(var(--pix) * 4);
    position: fixed;
}

.nav-small i:hover {
    text-shadow: 0 0 calc(var(--pix) * 5) #ae00ff, 0 0 calc(var(--pix) * 5) #00c3ff, 0 0 calc(var(--pix) * 5) #e100ff;
}

.nav-small .hide {
    z-index: 102;
    color: rgb(231, 216, 255);
    opacity: 0;
    transition: 0.5s ease;
}

.nav-small a {
    color: rgb(217, 170, 255);
}

.nav-small :hover {
    color: #ffffffe1;
}

.nav-small:hover .hide {
    opacity: 1;
    transform: translateY(+50px);
}

.avt {
    margin: calc(var(--pix) * 5) calc(var(--pix) * 10) 0px 0px;
    background: linear-gradient(45deg, #6200ff, #f7d7ff);
    padding: calc(var(--pix) * 2);
    border-radius: 50%;
    position: relative;
    height: calc(var(--pix) * 50);
    box-shadow: 0 0 calc(var(--pix) * 6) calc(var(--pix) * 4) rgba(133, 81, 255, 0.6), 0 0 calc(var(--pix) * 4) calc(var(--pix) * 6) rgba(241, 90, 255, 0.3);
}

.avt:hover {
    background: linear-gradient(45deg, rgb(133, 81, 255), rgb(241, 90, 255));
    box-shadow: 0 0 calc(var(--pix) * 6) calc(var(--pix) * 4) rgba(255, 52, 164, 0.6), 0 0 calc(var(--pix) * 4) calc(var(--pix) * 6) rgba(93, 90, 255, 0.3);
}

.img {
    padding: 0px;
    margin: 10% 5% 20% 5%;
    transition: 0.3s ease;
    transition-delay: 1s;
}

.img img {
    width: 30vw;
    height: 40vw;
    max-width: 330px;
    max-height: 440px;
    border: calc(var(--pix) * 4) solid rgba(75, 0, 105, 0.192);
    border-radius: calc(var(--pix) * 15);
    box-shadow: calc(var(--pix) * 10) calc(var(--pix) * 10) calc(var(--pix) * 20) rgba(122, 0, 170, 0.5);
    transition: 0.3s ease;
}

.img :hover {
    transform: skew(-10deg, 0deg);
    scale: 1.1;
    opacity: 90%;
    rotate: 5deg;
    box-shadow: calc(var(--pix) * 15) calc(var(--pix) * 15) calc(var(--pix) * 30) rgba(210, 97, 255, 0.767);
    border-right: calc(var(--pix) * 7) solid rgba(75, 0, 105, 0.192);
    border-bottom: calc(var(--pix) * 7) solid rgba(75, 0, 105, 0.192);
}

.inf {
    display: flex;
    transition: 0.5s;
}

.text {
    margin: 8% 0% 0% 10%;
    width: 70%;
    max-width: 800px;
    min-width: 400px;
}

.text div {
    transition: 0.5s;
}

.name:hover {
    text-shadow: 0 0 calc(var(--pix) * 5) #ae00ff, 0 0 calc(var(--pix) * 5) #00c3ff, 0 0 calc(var(--pix) * 5) #e100ff;
}

.text a:hover {}

.name {
    font-size: calc(var(--pix) * 60);
    font-weight: bold;
    color: #e1dbff;
    margin-bottom: calc(var(--pix) * 25);
}

.career {
    line-height: 1.3;
    font-size: calc(var(--pix) * 70);
    font-weight: bolder;
    background: linear-gradient(to right, #6200ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bio {
    width: 95%;
    margin-top: calc(var(--pix) * 50);
    font-size: calc(var(--pix) * 20);
    color: #dfcbff;
}

.icon {
    display: flex;
    align-items: center;
    margin: calc(var(--pix) * 30);
}

.icon a img {
    width: calc(var(--pix) * 50);
    margin: calc(var(--pix) * 15);
    transition: 0.5s;
}

.icon a :active {
    filter: blur(2px)
}

.icon a :hover {
    scale: 120%;
}

.linkto a {
    text-decoration: none;
    color: white;
    font-size: calc(var(--pix) * 25);
    font-weight: bolder;
    background: linear-gradient(to right, #6200ff, #a934ec);
    border-radius: calc(var(--pix) * 50);
    margin: calc(var(--pix) * 30) calc(var(--pix) * 40);
    padding: calc(var(--pix) * 15) calc(var(--pix) * 40);
    transition: 0.1s;
}

.linkto :hover {
    background: linear-gradient(to right, #6200ff, #a934ec);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: calc(var(--pix) * 30) 37px;
    border: calc(var(--pix) * 3) solid rgb(132, 0, 255);
    box-shadow: 0 0 calc(var(--pix) * 3) calc(var(--pix) * 2) rgba(133, 81, 255, 0.6), 0 0 calc(var(--pix) * 2) calc(var(--pix) * 3) rgba(241, 90, 255, 0.3);
}

.linkto :active {
    text-shadow: 0 0 calc(var(--pix) * 5) #e100ff, 0 0 calc(var(--pix) * 5) #e100ff, 0 0 calc(var(--pix) * 5) #e100ff;
    box-shadow: 0 0 calc(var(--pix) * 3) calc(var(--pix) * 2) rgba(255, 52, 164, 0.6), 0 0 calc(var(--pix) * 2) calc(var(--pix) * 3) rgba(93, 90, 255, 0.3);
    border-color: rgb(89, 0, 255);
}

@keyframes hideItem {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes showItem {
    0% {
        display: none;
    }

    100% {
        display: block;
    }
}

@media (min-width: 1200px) {
    .img {
        margin-left: 13%;
    }

    .name {
        font-size: calc(var(--pix) * 70);
    }

    .career {
        font-size: 85px;
    }
}

@media (max-width: 900px) {
    .img img {
        transform: translateX(+200px);
        opacity: 0;
    }

    .img {
        overflow: hidden;
        margin-left: 0px;
        margin-right: 0px;
    }

    .text {
        width: 90vh;
    }

    .name {
        font-size: calc(50px + 1vw);
    }

    .career {
        font-size: calc(65px + 1vw);
    }
}

@media (max-width: 768px) {
    .bar {
        height: calc(var(--pix) * 60);
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(30px);
        background-blend-mode: overlay;
        overflow: hidden;
    }

    .navbar {
        height: calc(var(--pix) * 60);
        padding: 0px calc(0.5vw);
        list-style-type: none;
    }

    .nav-left {
        padding: 0px;
        height: calc(var(--pix) * 40);
        list-style-type: none;
        display: flex;
        margin: calc(var(--pix) * 10) calc(var(--pix) * 15) 0px calc(var(--pix) * 10);
        align-items: center;
    }

    .nav-right {
        z-index: 100;
        transform: translateX(+300px);
        opacity: 0;
    }

    .nav-right .nav-item {
        padding: 0px;
        margin: 0px;
        align-items: center;
    }

    .nav-item a {
        font-size: calc(var(--pix) * 20);
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: calc(var(--pix) * 8) 14px;
        border-radius: calc(var(--pix) * 15);
        transition: all 0.5s;
        align-items: center;
    }

    .nav-item a:hover {
        background-color: #00000027;
        color: rgb(204, 164, 255);
    }

    .nav-item a:active {
        background-color: #0000002f;
    }

    .avt {
        height: calc(var(--pix) * 40);
        box-shadow: 0 0 calc(var(--pix) * 3) calc(var(--pix) * 2) rgba(133, 81, 255, 0.6), 0 0 calc(var(--pix) * 2) calc(var(--pix) * 3) rgba(241, 90, 255, 0.3);
    }

    .avt:hover {
        background: linear-gradient(45deg, rgb(133, 81, 255), rgb(241, 90, 255));
        box-shadow: 0 0 calc(var(--pix) * 3) calc(var(--pix) * 2) rgba(255, 52, 164, 0.6), 0 0 calc(var(--pix) * 2) calc(var(--pix) * 3) rgba(93, 90, 255, 0.3);
    }

    .nav-small {
        display: block;
        transform: translateY(+40px);
        opacity: 1;
    }

}


@media only screen and (max-width: 768px) {}